<div id="message-<%= message.id %>" class="<%= message.profile.user == current_user ? 'author' : 'receiver' %>">
  <div class="d-flex <%= 'justify-content-end' if message.profile.user == current_user %>">
    <% if current_user.profile.photo.attached? && message.profile.user != current_user %>
      <%= cl_image_tag current_user.profile.photo.key, class: "avatar" %>
    <% end %>
    <div class="message-content">
      <p><%= message.content %></p>
    </div>
    <% if current_user.profile.photo.attached? && message.profile.user == current_user %>
      <%= cl_image_tag current_user.profile.photo.key, class: "avatar" %>
    <% end %>
  </div>
</div>
