<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <% if meeting.status == 'pending' %>
      <div class="card-meeting-pending">
        <div>
          <h5>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal-<%= meeting.id %>">
              <%= meeting.name %>
            </button>
          </h5>
        </div>
        <div>
          <p>
            At: <%= meeting.start_time.strftime('%H:%M') %>
          </p>
          <p>
            Till: <%= meeting.end_time.strftime('%H:%M') %>
          </p>
          <p>
            <%= meeting.status.capitalize %>
          </p>
        </div>
      </div>
      <%= render "show_meeting_modal", meeting: meeting %>
    <% end %>
    <% if meeting.status == 'accepted' %>
      <div class="card-meeting-accepted">
        <div>
          <h5>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal-<%= meeting.id %>">
              <%= meeting.name %>
            </button>
          </h5>
        </div>
        <div>
          <p>
            At: <%= meeting.start_time.strftime('%H:%M') %>
          </p>
          <p>
            Till: <%= meeting.end_time.strftime('%H:%M') %>
          </p>
          <p>
            <%= meeting.status.capitalize %>
          </p>
        </div>
      </div>
      <%= render "show_meeting_modal", meeting: meeting %>
    <% end %>
    <% if meeting.status == 'declined' %>
      <div class="card-meeting-declined">
        <div>
          <h5>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal-<%= meeting.id %>">
              <%= meeting.name %>
            </button>
          </h5>
        </div>
        <div>
          <p>
            At: <%= meeting.start_time.strftime('%H:%M') %>
          </p>
          <p>
            Till: <%= meeting.end_time.strftime('%H:%M') %>
          </p>
          <p>
            <%= meeting.status.capitalize %>
          </p>
        </div>
      </div>
      <%= render "show_meeting_modal", meeting: meeting %>
    <% end %>
  <% end %>
<% end %>
