<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
      <%= meeting.start_time %>
      <%= meeting.end_time %>
      <%= meeting.location %>
    </div>
  <% end %>
<% end %>
