<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date.strftime("%e") %>

  <% meetings.each do |meeting| %>
    <% if meeting.status == 'pending' %>
      <button type="button" class="card-meeting-pending" data-toggle="modal" data-target="#exampleModal-<%= meeting.id %>">
        <div>
          <p style="color:white">
            <%= meeting.name %>
          </p>
        </div>
        <div>
          <p>
            Meeting with: <%= meeting.profile.first_name %> <br>
            At: <%= meeting.start_time.strftime('%H:%M') %>
            Till: <%= meeting.end_time.strftime('%H:%M') %> <br>
            <%= meeting.status.capitalize %>
          </p>
        </div>
      </button>
      <%= render "show_meeting_modal", meeting: meeting %>
    <% end %>
    <% if meeting.status == 'accepted' %>
      <button class="card-meeting-accepted" type="button" data-toggle="modal" data-target="#exampleModal-<%= meeting.id %>">
        <div>
          <p style="color:white">
            <%= meeting.name %>
          </p>
        </div>
        <div>
          <p>
            At: <%= meeting.start_time.strftime('%H:%M') %>
          </p>
          <p>
            Till: <%= meeting.end_time.strftime('%H:%M') %>
          </p>
          <p>
            <%= meeting.status.capitalize %>
          </p>
        </div>
      </button>
      <%= render "show_meeting_modal", meeting: meeting %>
    <% end %>
    <% if meeting.status == 'declined' %>
      <button class="card-meeting-declined" type="button" data-toggle="modal" data-target="#exampleModal-<%= meeting.id %>">
        <div>
            <p style="color:white">
              <%= meeting.name %>
            </p>
        </div>
        <div>
          <p>
            At: <%= meeting.start_time.strftime('%H:%M') %>
          </p>
          <p>
            Till: <%= meeting.end_time.strftime('%H:%M') %>
          </p>
          <p>
            <%= meeting.status.capitalize %>
          </p>
        </div>
      </div>
      <%= render "show_meeting_modal", meeting: meeting %>
    <% end %>
  <% end %>
<% end %>
