<div class="container">
<div class ="row p-3">
  <h1> My Matches</h1>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <% if @matches.empty?%>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to "All matches", matches_path, class: "dropdown-item"%></li>
          <li><%= link_to "Liked matches", matches_path(status: "liked"), class: "dropdown-item"%></li>
          <li><%= link_to "New matches", matches_path(status: "new_matches"), class: "dropdown-item"%></li>
        </ul>
    <% else @matches %>
      <% @matches.each do |match| %>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to "All matches", matches_path, class: "dropdown-item"%></li>
        <li><%= link_to "Liked matches", matches_path(status: "liked"), class: "dropdown-item"%></li>
        <li><%= link_to "New matches", matches_path(status: "new_matches"), class: "dropdown-item"%></li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>
  <div class="cards">
    <% @matches.each do |match| %>
      <% if @profile.mentor == false %>
        <%# I am a Mentee and should see Mentors %>
        <div class="card">
          <%= link_to '', match_path(match), class: 'card-link' %>
            <div class ="row p-3">
              <% if match.mentor.photo.attached?%>
                <%= cl_image_tag match.mentor.photo.key, crop: :fill, class: "col-4" %>
              <% else %>
                <%= image_tag "logo.webp", class: "match-avatar", crop: :fill, class: "col-4" %>
              <% end %>
              <div class = "py-2 col-8">
                <h3><%= link_to match.mentor.first_name, match_path(match) %></h3>
                <h5><%= match.mentor.city.capitalize %></h5>
              </div>
            </div>
          <div class="card-infos">
            <p>Last role: <%= match.mentor.position %></p>
            <p>Industry: <%= match.mentor.target_industry %></p>
            <div class="row p-3">
              <%= link_to "Send invite", new_match_meeting_path(match), class: "purple-button col-6" %>
              <div class="card-btn card-btn col-6">
                <%= link_to match_path(match, match: false), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to delete match?"} do %>
                  <i class="fa-solid fa-ban"></i>
                <% end %>
                <%= link_to chatrooms_path(chat: match.chatroom) do %>
                    <i class="fa-regular fa-envelope"></i>
                <% end %>
                <% if match.like.liked %>
                  <%= link_to like_path(match.like), data: {turbo_method: :patch} do %>
                      <i class="fa-solid fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to like_path(match.like), data: {turbo_method: :patch} do %>
                      <i class="fa-regular fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%# I am Mentor and should see Mentees %>
        <div class="card">
          <%= link_to '', match_path(match), class: 'card-link' %>
          <div class="row p-3">
            <% if match.mentee.photo.attached?%>
              <%= cl_image_tag match.mentee.photo.key, crop: :fill, class: "col-5" %>
            <% else %>
                <%= image_tag "logo.webp", crop: :fill, class: "col-5" %>
            <% end %>
            <div class = "p-3 col-7">
              <h3><%= link_to match.mentee.first_name, match_path(match) %></h3>
              <p><%= match.mentee.city.capitalize %></p>
            </div>
          </div>
          <div class="card-infos">
            <p>Last role: <%= match.mentee.position %></p>
            <p>Industry: <%= match.mentee.target_industry %></p>
            <div class="row p-3">
              <%= link_to "Send invite", new_match_meeting_path(match), class: "purple-button col-6" %>
              <div class="card-btn col-6">
                <%= link_to match_path(match, match: false), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to delete match?"} do %>
                  <i class="fa-solid fa-ban"></i>
                <% end %>
                <%= link_to chatrooms_path(chat: match.chatroom) do %>
                  <i class="fa-regular fa-envelope"></i>
                <% end %>
                <% if match.like.liked %>
                  <%= link_to like_path(match.like), data: {turbo_method: :patch} do%>
                      <i class="fa-solid fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to like_path(match.like), data: {turbo_method: :patch} do %>
                      <i class="fa-regular fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
