<div class="container col-8">
<h1> My Matches</h1>
  <div>
    <div>
      <% @matches.each do |match| %>
        <% if @profile.mentor == false %>
        <%# I am a Mentee and should see Mentors %>
        <p>Name: <%= match.mentor.first_name %></p>
        <p>Surname: <%= match.mentor.last_name %></p>
        <p>City: <%= match.mentor.city %></p>
        <p>Last role: <%= match.mentor.position %></p>
        <p>Industry: <%= match.mentor.target_industry %></p>
        <%= link_to 'See match', match_path(match)  %>
        <% else %>
    </div>
      <%# I am Mentor and should see Mentees %>
    <div>
      <p>Name: <%= match.mentee.first_name %></p>
      <p>Surname: <%= match.mentee.last_name %></p>
      <p>City: <%= match.mentee.city %></p>
      <p>Last role: <%= match.mentee.position %></p>
      <p>Industry: <%= match.mentee.target_industry %></p>
      <%= link_to 'See match', match_path(match)  %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
