<div class="container col-8">
<h1> My Matches</h1>
  <div>
    <div>
      <% @matches.each do |match| %>
        <% if @profile.mentor == false %>
        <%# Mentee %>
        <p>Name: <%= match.mentor.first_name %></p>
        <p>Surname: <%= match.mentor.last_name %></p>
        <p>City: <%= match.mentor.city %></p>
        <p>Languages: <%= match.mentor.languages %></p>
        <p>Working experience: <%= match.mentor.working_experience %></p>
        <p>Last role: <%= match.mentor.position %></p>
        <% else %>
    </div>
      <%# Mentor %>
    <div>
      <p>Name: <%= match.mentee.first_name %></p>
      <p>Surname: <%= match.mentee.last_name %></p>
      <p>City: <%= match.mentee.city %></p>
      <p>Languages:<%= match.mentee.languages %></p>
      <p>Industry: <%= match.mentee.target_industry %></p>
      <p>Last role: <%= match.mentee.position %></p>
      <% end %>
    <% end %>
    </div>
      <%= link_to "Chat", post_chatroom_path(@chatroom), class:"btn btn-outline-dark"%>
  </div>
</div>
