<div class="container mb-5">
<div class ="row p-3">
  <h1 class="col-6", style="color: #794FFA;"> My Matches</h1>
  <div class="py-2 col-6 dropdown d-flex flex-row-reverse">
    <button class="btn dark-button dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Filter by
    </button>
    <% if @matches.empty?%>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to "All matches", matches_path, class: "dropdown-item"%></li>
          <li><%= link_to "Liked matches", matches_path(status: "liked"), class: "dropdown-item"%></li>
          <li><%= link_to "New matches", matches_path(status: "new_matches"), class: "dropdown-item"%></li>
        </ul>
    <% else @matches %>
      <% @matches.each do |match| %>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to "All matches", matches_path, class: "dropdown-item"%></li>
        <li><%= link_to "Liked matches", matches_path(status: "liked"), class: "dropdown-item"%></li>
        <li><%= link_to "New matches", matches_path(status: "new_matches"), class: "dropdown-item"%></li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>
  <div class="cards">
    <% @matches.each do |match| %>
      <% if @profile.mentor == false %>
        <%# I am a Mentee and should see Mentors %>
        <div class="card">
          <%= link_to '', match_path(match), class: 'card-link' %>
            <div class ="row p-2 d-flex align-items-center">
              <% if match.mentor.photo.attached?%>
                <%= cl_image_tag match.mentor.photo.key, crop: :fill, class: "col-4 ml-3" %>
              <% else %>
                <%= image_tag "logo.webp", crop: :fill, class: "col-4 ml-3" %>
              <% end %>
              <div class = "py-2 col-7">
                <h3><%= link_to match.mentor.first_name, match_path(match) %></h3>
                <h5><%= match.mentor.city.capitalize %></h5>
              </div>
            </div>
          <div class="card-infos py-3">
            <p> <strong>Last role: </strong> <%= match.mentor.position %></p>
            <p><strong>Industry: </strong> <%= match.mentor.target_industry %></p>
            <div class="row p-3">
              <%= link_to "Send invite", new_match_meeting_path(match), class: "yellow-button col-6", style: "color: rgb(59, 57, 57)" %>
              <div class="card-btn card-btn col-6">
                <%= link_to match_path(match, match: false), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to delete match?"} do %>
                  <i class="fa-solid fa-ban"></i>
                <% end %>
                <%= link_to chatrooms_path(chat: match.chatroom) do %>
                    <i class="fa-regular fa-envelope"></i>
                <% end %>
                <% if match.like.liked %>
                  <%= link_to like_path(match.like), data: {turbo_method: :patch} do %>
                      <i class="fa-solid fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to like_path(match.like), data: {turbo_method: :patch} do %>
                      <i class="fa-regular fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <%# I am Mentor and should see Mentees %>
        <div class="card">
          <%= link_to '', match_path(match), class: 'card-link' %>
          <div class="row p-2 d-flex align-items-center">
            <% if match.mentee.photo.attached?%>
              <%= cl_image_tag match.mentee.photo.key, crop: :fill, class: "col-4 ml-3" %>
            <% else %>
                <%= image_tag "logo.webp", crop: :fill, class: "col-4 ml-3" %>
            <% end %>
            <div class = "p-2 col-7">
              <h3><%= link_to match.mentee.first_name, match_path(match) %></h3>
              <h5><%= match.mentee.city.capitalize %></h5>
            </div>
          </div>
          <div class="card-infos py-3">
            <p> <strong>Last role: </strong> <%= match.mentee.position %></p>
            <p> <strong>Industry: </strong> <%= match.mentee.target_industry %></p>
            <div class="row p-3">
              <%= link_to "Send invite", new_match_meeting_path(match), class: "yellow-button col-6", style: "color: rgb(59, 57, 57)"%>
              <div class="card-btn col-6">
                <%= link_to match_path(match, match: false), data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to delete match?"} do %>
                  <i class="fa-solid fa-ban"></i>
                <% end %>
                <%= link_to chatrooms_path(chat: match.chatroom) do %>
                  <i class="fa-regular fa-envelope"></i>
                <% end %>
                <% if match.like.liked %>
                  <%= link_to like_path(match.like), data: {turbo_method: :patch} do%>
                      <i class="fa-solid fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to like_path(match.like), data: {turbo_method: :patch} do %>
                      <i class="fa-regular fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
