<div class="container">
<h1> My Matches</h1>
  <div class="cards">

    <% @matches.each do |match| %>
      <% if @profile.mentor == false %>
        <%# I am a Mentee and should see Mentors %>
        <div class="card">
          <%= link_to '', match_path(match), class: 'card-link' %>
          <div class="card-infos">
            <h3><%= link_to match.mentor.first_name, match_path(match) %></h3>
            <p>City: <%= match.mentor.city %></p>
            <p>Last role: <%= match.mentor.position %></p>
            <p>Industry: <%= match.mentor.target_industry %></p>
            <%= link_to "#" do %>
                  <i class="fa-solid fa-user-xmark"></i>
            <%= link_to new_match_meeting_path(match) do %>
                <i class="fa-regular fa-envelope"></i>
            <% end %>
            <div class="card-btn">
              <%= link_to match_path(match) do %>
                  <i class="fa-regular fa-envelope"></i>
              <% end %>
              <%= link_to match_path(match) do %>
                  <i class="fa-regular fa-heart"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <%# I am Mentor and should see Mentees %>
        <div class="card">
          <div class="card-infos">
            <%= link_to '', match_path(match), class: 'card-link' %>
            <div class="card-infos">
              <h3><%= link_to match.mentee.first_name, match_path(match) %></h3>
              <p>City: <%= match.mentee.city %></p>
              <p>Last role: <%= match.mentee.position %></p>
              <p>Industry: <%= match.mentee.target_industry %></p>
              <%= link_to "#" do %>
                  <i class="fa-solid fa-user-xmark"></i>
                <% end %>
              <div class="card-btn">
                <%= link_to match_path(match) do %>
                  <i class="fa-regular fa-envelope"></i>
                <% end %>
                <%= link_to match_path(match) do %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
